.details {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($background-color, .9);
    z-index: 2;
    transition: top .7s ease-in-out;

    &--open {
        top: 0;
    }

    &__close {
        width: 40px;
        height: 40px;
        @include flex-center;
        position: absolute;
        top: 20px;
        left: 20px;
        border: none;
        border-radius: 50px;
        background-color: $white;
        transition: transform .3s ease;

        &:hover {
            transform: rotate(-90deg);
        }
    }

    &__imdb {
        width: 70px;
        height: 70px;
        @include flex-center;
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50px;
        background-color: $white;
    }

    &__imdb-text {
        font-size: 0.875rem;
        font-weight: 500;
    }

    &__imdb-value {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include tablet {
        @include content-width;

        &__img {
            max-width: 400px;
            height: auto;
            object-fit: unset;
            display: block;
            margin: 100px auto 0 auto;
            border-radius: 20px;
        }
    }

    @include desktop {
        &__img {
            position: absolute;
            left: 52px;
            z-index: 2;
            max-width: 350px;
            box-shadow: 0 5px 15px rgba(0,0,0,.6);
        }
    }
}

.card {
    width: 100%;
    padding: 1.5rem 1rem;
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    font-size: 0.875rem;
    background-color: $white;
    border-radius: 20px 20px 0 0;
    transition: bottom .6s ease-out;
    transition-delay: .4s;

    &--open {
        bottom: 0;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__infos-container {
        margin-top: 20px;
    }

    &__runtime,
    &__cast,
    &__genre {
        font-weight: 700;
    }

    &__runtime-value,
    &__cast-value,
    &__genre-value {
        font-weight: 400;
    }

    &__plot {
        margin-top: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;
        max-height: 256px;
        -webkit-line-clamp: 16;
        -webkit-box-orient: vertical;
    }

    &__button {
        width: 80%;
        margin: 40px auto 0 auto;
        padding: 0.5rem 1.5rem;
        display: block;
        border: none;
        border-radius: 10px;
        background-color: $primary-color;
        color: $white;
    }

    &__note {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 1rem;
        color: #ff5050;
    }

    @include tablet {
        @include content-width;
        padding: 2.5rem;
        height: auto;
        font-size: 1rem;

        &__title {
           font-size: 2.1rem; 
           width: 100%;
           
        }

        &__tablet {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
        }

        &__infos-container {
            order: 1;
            width: 45%;
            align-items: center;
        }

        &__plot {
            width: 100%;
            overflow: unset;
            text-overflow: unset;
            display: block;
            -webkit-line-clamp: unset;
            -webkit-box-orient: unset;
            max-height: unset;
            line-height: 145%;
        }

        &__button {
            order: 2;
            width: auto;
            position: absolute;
            bottom: 0;
            right: 20px;
        }

        &__note {
            order: 3;
            width: auto;
            position: absolute;
            right: 20px;
            bottom: 45px;
        }
    }

    @include desktop {
        display: flex;
        flex-direction: column;

        &__title,
        &__plot,
        &__infos-container {
            width: 60%;
            align-self: flex-end;
        }

        &__infos-container {
            position: static;
        }

        &__tablet {
            flex-direction: column;
        }

        &__button {
            right: unset;
            left: 20px;
        }

        &__note {
            right: unset;
            left: 20px;
            bottom: 45px;
        }
    }
}