@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin content-width {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

