.search {
    @include content-width;
    @include flex-center;
    flex-direction: column;

    &__title {
        margin-top: 60px;
        color: $white;
        font-size: 1.5rem;
    }

    &__input {
        margin-top: 25px;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border: none;
    }

    &__button {
        margin-top: 15px;
        padding: 0.5rem 1.5rem;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        background-color: $primary-color;
        color: $white;
        transition: border-radius .3s;

        &:hover {
            border-radius: 50px;
        }
    }

    @include tablet {

        &__title {
            margin-top: 120px;
            font-size: 2.1rem;
        }
    }
} 